@import "../../styles/utilities/variables";

.layout {
  background-color: $White;
  border-radius: 2.5rem;
  max-width: 90rem;
  width: 100%;
  padding: 3rem;

  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 3rem;
}

@media screen and (min-width: $MediaMinWidth) {
  .layout {
    flex: 0;
    flex-direction: row;
    gap: 3.5rem;
    padding: 3rem 3.5rem;
  }
}
