@import "../utilities/variables";
@import "../base/typography";

* {
  box-sizing: border-box;
  font-family: $Font;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

button {
  cursor: pointer;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100dvh;
  overflow-x: hidden;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
